<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>Edit Schadule</title>
  <!-- <%= stylesheet_link_tag('bootstrap.min.css', :media =>'all') %> -->
  <%= stylesheet_link_tag('application', media: 'all') %>
  <link rel="stylesheet" href="/assets/tools/schedules.scss">

</head>
<body>
  <div class = "container">
    <%= form_for @slot, url: {action: "update",:day_id =>@day.id, :slot_id=> @slot.id } do |f| %>
      <div class="container">
        <div class = "row">
          <div class="col-lg-4 col-lg-offset-4 DayContent">
            <p class="defaultWriteWay">
              Summary of the day
            </p>
            <div class="textArea">
                <%=f.text_area(:Desc)%>
            </div>
            <%=f.submit "update"%>
          </div>
        </div>
      </div>
    <%end%>
    <%= link_to("Back", {:controller=>'/actors/users'})%>
  </div>
<%= javascript_include_tag 'application'%>
</body>
</html>
