<div class="col-lg-2">
    <div class="info-card">
      <img src="/assets/UserTemplate.png">
      <p class="defaultWriteWay"><%=current_user.first_name.capitalize%> <%=current_user.second_name.capitalize%></p>
      <p class="MidWriteWay">Level: <%=current_user.level%></p>
      <!-- <p id="LogOut">
        <% if user_signed_in? %>
          <%= link_to('logout', users_sign_out_path) %>
        <% else %>
          <%= link_to('login', new_user_session_path)  %>
        <% end %>
      </p> -->
    </div>
    <div class="info-friends">
      <!-- <%=link_to("Connection",{:action=>'listUsers'})%><br /> -->

      <%if @friends.length > 3%>
      <%=link_to("see all(notImpYet)",{:action=>'listUsers'})%>
      <%end%>
      <ul>
          <!-- this print the first 3 records of friends -->
        <%@friends.take(3).each do |f|%>
        <li>
          <p>
            <a href="#">
              <img class="circle" src="/assets/UserTemplate.png" />
            </a>
          </p>
          <p>
            <%=f.first_name%>
          </p>
        </li>
        <%end%>
      </ul>
    </div>
</div>
