<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=current_user.first_name.capitalize%>'s HomePage</title>
  <%= stylesheet_link_tag('application', media: 'all') %>
  <%= stylesheet_link_tag('/assets/actors/users') %>
</head>
<body>

  <div class ="container">
    <h1 class="header">Our Local Society</h1>
  </div>
  <div class="container">
    <div class="row">

      <%= render "actors/users/userCard" %>
      <%= render "actors/users/scheduleLayout" %>

    </div>
  </div>
  <%= render "actors/users/dialogLayout" %>
  <%= javascript_include_tag 'application'%>
</body>
</html>
