<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=current_user.first_name.capitalize%>'s HomePage</title>
  <!-- <%= stylesheet_link_tag('bootstrap.min.css', :media =>'all') %> -->

  <%= stylesheet_link_tag('application', media: 'all') %>
  <%= stylesheet_link_tag('/assets/actors/users') %>
  <!-- <link rel="stylesheet" href="/assets/actors/users.scss"> -->

</head>
<body>

  <div class ="container">
    <h1 class="header">Our Local Society</h1>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-lg-2">
        <div class="info-card">
          <img src="/assets/UserTemplate.png">
          <p class="defaultWriteWay"><%=current_user.first_name.capitalize%> <%=current_user.second_name.capitalize%></p>
          <p class="MidWriteWay">Level: <%=current_user.level%></p>
          <p id="LogOut">
            <% if user_signed_in? %>
              <%= link_to('logout', destroy_user_session_path, :method=>'delete') %>
            <% else %>
              <%= link_to('login', new_user_session_path)  %>
            <% end %>
          </p>
        </div>
        <div class="info-friends">
          <ul>
            <!-- we should put a loop in here to list friends instead of static li tag -->
            <%@friends.each do |f|%>
            <li>
              <p>
                <a href="#">
                  <img class="circle" src="/assets/UserTemplate.png" />
                </a>
              </p>
              <p>
                <%=f.first_name%> 
              </p>
            </li>
            <%end%>
          </ul>
        </div>
    </div>
    <div class="col-lg-9 col-lg-offset-1">
      <%= link_to('Edit the table', {:controller => 'tools/schedules', :action => 'edit',:id => current_user.id},{:class=>'pull-right MoveLeft btn btn-default'}) %>
      <% current_user.days.each do |day| %>
        <p class="defaultWriteWay"><%=day.Name%></p>
        <% day.slots.each do |slot| %>
          <div class="col-lg-3 DayContent">
            <div class="DateOfLec">
              <p class= "smWriteWay MoveRight">
                <%=slot.Start%>
              </p>
              -
              <p class="smWriteWay">
                <%=slot.End%>
              </p>
              <p class="smWriteWay">
                <%= link_to( image_tag("/assets/edit_icon.png", :class => "editImg"), {:controller=>"/tools/schedules", :action=> "edit", :day_id =>day.id, :slot_id => slot.id},{:class=>"editBtn"})%>
              </p>
            </div>
            <p class="MidWriteWay">
              <%=slot.Desc%>
            </p>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>

  <%= javascript_include_tag 'application'%>
</body>
</html>
