<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All Users</title>
  <%= stylesheet_link_tag('application', media: 'all') %>
  <%= stylesheet_link_tag('/assets/actors/listUsers') %>
</head>
<body>
  <!-- <div class ="container">
    <h1 class="header">Our Local Society</h1>
  </div> -->
  <%= render "actors/users/navbarLayout" %>

  <div class="container">
    <div class="row">
      <div class="col-lg-11 col-lg-offset-1" id="nonFriendBool">
        <h3 class="header">All people</h3>
          <% @nonFriends.each do |u|%>
            <div class="col-lg-3" >
                <div class="contactCard">
                  <div class="imgContactCard">
                    <img class="circle" src="/assets/UserTemplate.png" />
                  </div>

                  <div class="cardInfoContact">
                    <%=u.first_name%>
                  </div>
                  <input type="hidden"  value='<%= u.id %>' />
                  <button type="button" class="btn btn-success btnContactCard" onclick="addNewFriend(this);">add</button>
                </div>
            </div>
          <% end %>
      </div>

      <div class="col-lg-11 col-lg-offset-1" style="margin-bottom:20px;" id="friendBool">
        <h3 class="header">Friends</h3>
          <% @friends.each do |u|%>
            <div class="col-lg-3"  >
                <div class="contactCard">
                  <div class="imgContactCard">
                    <img class="circle" src="/assets/UserTemplate.png" />
                  </div>

                  <div class="cardInfoContact">
                    <%=u.first_name%>
                  </div>
                  <input type="hidden" value='<%= u.id %>' />
                  <button type="button" class="btn btn-danger btnContactCard" onclick="removeFriend(this);">remove</button>
                </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'application'%>
</body>
</html>
